p {
    margin-bottom: 0px;
    margin-top: 0px;
    font-family: Arial;
}

body {
    background-color: rgb(249, 248, 248);
    padding-left: 20px;
    padding-right: 25px;
    padding-top: 18px;
}

@media (min-width: 1200.1px) {
    body {
        padding-left:250px;
    }
}